* {
    box-sizing: border-box;
}

.grid {
    z-index: -1;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',
        sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
}

.header {
    background-color: #ffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 70px;
    opacity: 0.99;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
}

.header.scrolled {
    background-color: black;
    /* Здесь укажите нужный цвет фона при прокрутке */
}

nav {
    display: flex;
    margin-top: 10px;
}

.title__nav {
    margin: 10px 0;
}

.list {
    list-style: none;
    color: #fff;
    margin-left: auto;
    display: block;
}

li {
    display: inline;
    padding-left: 15px;
}

.nav__hyperlink {
    text-decoration: none;
    color: #000;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out
}

.nav__hyperlink:hover {
    color: rgb(255, 132, 0);
    transition: .25s;
}

.title__nav.scrolled,
.nav__hyperlink.scrolled {
    color: #fff;
    /* Здесь укажите нужный цвет фона при прокрутке */
}

.nav__hyperlink.scrolled:hover {
    color: rgb(255, 132, 0);
    transition: .25s;
}

.title__article {
    font-size: 32px;
    margin-bottom: 15px;
    padding-top: 100px;

}

time {
    color: rgba(57, 52, 52, 0.508);
}


.main,
.article,
.article__big,
.content,
.content__big,
.img__article-little,
.img__article__big {
    width: 100%;
}

.container__articles {
    padding: 150px 15px 15px 15px;
}


.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.article__little,
.article__big {
    display: inline-block;
    background-color: #1488CC;
    padding: 12px;
    margin-right: -4px;
    margin: 12px;
}


.img__article-little {
    margin: 0 auto;
    max-height: 200px;
}

.img__article__big {
    max-height: 300px;
}

.text__article {
    width: 100%;
    text-align: justify;
    line-height: 30px;
}

@media (max-width: 767px) {
    .main {
        flex-wrap: wrap;
    }
}