* {
    box-sizing: border-box;
}

.grid {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    text-align: center;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Regular',
        sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 2;
}

/* .header.scrolled {
    background-color: black;
    Здесь нужный цвет фона при прокрутке
} */

.header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.header__logo {
    z-index: 3;
    margin: 0;
    overflow: hidden;
    color: #fff;
    font-family: 'Montserrat Medium';
}

.header__list {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    list-style: none;
}

a {
    cursor: pointer;
}

.header__link {
    display: inline;
    padding-left: 15px;
    font-size: 17px;
    text-decoration: none;
    color: #fff;
    transition: ease-in .3s;
}

.header__link:hover

/* .header__link.scrolled:hover*/
    {
    color: rgb(255, 132, 0);
}

/* .header__logo.scrolled,
.header__link.scrolled {
    color: #fff;
} */

.title__article {
    font-size: 32px;
    margin-bottom: 15px;
    padding-top: 100px;
}

time {
    color: rgba(57, 52, 52, 0.508);
}

.main,
.article,
.article__big,
.content,
.content__big,
.img__article-little,
.img__article__big {
    width: 100%;
}

.container__articles {
    padding: 125px 12px 12px 12px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.article__little,
.article__big {
    margin-right: -4px;
    margin: 12px;
    padding: 12px;
    background-color: #3a7bd5;
}

.img__article-little {
    margin: 0 auto;
    max-height: 200px;
}

.img__article__big {
    max-height: 300px;
}

.text__article {
    width: 100%;
    text-align: justify;
    line-height: 30px;
}

.read__more-wrapper {
    text-align: center;
    margin: 40px 0;
}

.read__more-button {
    border: none;
    background-color: #fff;
    text-transform: lowercase;
    letter-spacing: 2.52px;
}

.read__more-button {
    display: block;
    width: 70%;
    margin: 0 auto;
    padding: 15px 30px;
    color: #000;
    text-decoration: none;
    transition: ease-in .3s;
}

.read__more-button:hover {
    color: #fff;
    background-color: #000;
}

@media (max-width: 767px) {

    body.lock {
        overflow: hidden;
    }

    .main {
        flex-wrap: wrap;
    }

    .header {
        height: 70px;
    }

    .header__body {
        position: relative;
        top: 0;
        left: 0;
    }

    .header__logo {
        font-size: 23px;
        margin: 0;
    }

    .header__burger {
        display: block;
        position: relative;
        top: 5px;
        left: 0;
        width: 30px;
        height: 20px;
        z-index: 3;
    }

    .header__burger span {
        background-color: #fff;
        position: absolute;
        left: 0;
        height: 2px;
        width: 100%;
        top: 9px;
        transition: ease-in .3s;
    }

    .header__burger:before,
    .header__burger:after {
        content: "";
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        transition: ease-in .3s;
    }

    .header__burger:before {
        top: 0;
    }

    .header__burger:after {
        bottom: 0;
    }

    .header__burger.active:before {
        transform: rotate(45deg);
        top: 9px;
        transition: ease-in .3s;
        background-color: #fff;
    }

    .header__burger.active:after {
        transform: rotate(-45deg);
        bottom: 9px;
        transition: ease-in .3s;
        background-color: #fff;
    }

    .header__burger.active span {
        transform: scale(0);
        transition: ease-in .3s;
        background-color: #fff;
    }

    /* .header__burger.scrolled span,
    .header__burger.scrolled:before,
    .header__burger.scrolled:after,
    .header__burger.active.scrolled:before,
    .header__burger.active.scrolled:after,
    .header__burger.active.scrolled span {
        background-color: #fff;
    }

    .header__burger.scrolled span,
    .header__burger.scrolled:before,
    .header__burger.scrolled:after {
        transition: ease-in .3s;
    } */

    .header__menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: #3a7bd5;
        padding: 70px 10px 20px 10px;
        transition: ease-in .3s;
    }

    .header__menu.active {
        top: 0;
        transition: ease-in .3s;
    }

    .header__list {
        display: block;
        padding: 20px 0;
    }

    .header__list li {
        margin: 0 0 20px 0;
    }

    .header__link {
        display: block;
        font-size: 30px;
        color: #fff;
        font-family: 'Montserrat Light';
    }
}