* {
    box-sizing: border-box;
}

.grid {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    text-align: center;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat Regular',
        sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #2b3035;
    z-index: 2;
}


.header__body {
    position: relative;
    display: flex;
    margin: 10px 0;
}

.header__body a {
    position: relative;
    z-index: 2;
}

.header__logo {
    position: relative;
    width: 32px;
    top: 6px;
    left: 0;
}

nav.header__menu {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.header__list {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    margin: 10px 0;
    padding-left: 0;
    list-style: none;
    margin-right: auto !important;
}

.navbar {
    --bs-navbar-padding-x: 0rem;
    --bs-navbar-padding-y: 0rem;
}

.dropdown-item {
    padding: 10px 20px;
}

.dropdown-item:hover {
    color: rgb(255, 132, 0);
}

.search__form {
    position: relative;
    padding: 0 0 0 50px;
    z-index: 5;
    margin: auto 0;
}

.btn__form {
    color: rgb(255, 132, 0);
    border-color: rgb(255, 132, 0);
}

.btn__form:hover {
    background-color: rgb(255, 132, 0);
}

a {
    cursor: pointer;
}

.header__link {
    display: inline;
    padding: 0 0 0 20px;
    font-size: 17px;
    text-decoration: none;
    color: #fff;
    transition: ease-in .3s;
}

.header__link:hover {
    color: rgb(255, 132, 0);
}


.title__article {
    font-size: 32px;
    margin-bottom: 15px;
    padding-top: 100px;
}

time {
    color: rgba(57, 52, 52, 0.508);
}

.main,
.article,
.article__big,
.content,
.content__big,
.img__article-little,
.img__article__big {
    width: 100%;
}

.container__articles {
    padding: 125px 12px 12px 12px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.article__little,
.article__big {
    margin-right: -4px;
    margin: 12px;
    padding: 12px;
    background-color: #3a7bd5;
}

.img__article-little {
    margin: 0 auto;
    max-height: 200px;
}

.img__article__big {
    max-height: 300px;
}

.text__article {
    width: 100%;
    margin: 20px 0 0 0;
    text-align: justify;
    line-height: 30px;
}

.read__more-wrapper {
    text-align: center;
    margin: 40px 0;
}

.read__more-button {
    display: block;
    width: 70%;
    margin: 0 auto;
    padding: 15px 30px;
    color: #2b3035;
    border: 3px solid #2b3035;
    background-color: #fff;
    text-transform: lowercase;
    text-decoration: none;
    letter-spacing: 2.52px;
    transition: ease-in .3s;
}

.read__more-button:hover {
    color: #fff;
    background-color: #2b3035;
    border: 3px solid #2b3035;
}
